.mainArena {
    width: 80vw;
    height: auto;
    border-width: thick;
    border-color: white;
    background-color: #222222;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Creates three equal columns */
    gap: 10px;
    /* Optional: Adds space between columns */

}
