.attacks ul {
    list-style-type: none;
}

.attacks li {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.attacks button {
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    border-radius: 1%;
    border-color: white;
    margin: 2px;
}

.attacks .activeButton :hover{
    background-color: #AAAAAA;
}

.attacks .fire{
    background-color: red;
}

.attacks table {
    display: flex;
    justify-content: center;
}

/* .attacks button :hover .fire{
    background-color: red;
}

.attacks button :hover .fire{
    background-color: red;
}

.attacks button :hover .fire{
    background-color: red;
}

.attacks button :hover .fire{
    background-color: red;
} */
